# Configurações do Supabase para o Lumi App
# Substitua com as credenciais do seu projeto criado em https://supabase.com
VITE_SUPABASE_URL=https://tmhwhlawwuwzzfjxaxaz.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_MmbLbUbyaSgVFhBUXOpaaw_4-aUQDVe
